<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form action="/queries/new" method="post">
      <legend>New Query</legend>
      <div class="form-group">
        <label for="query-season">Season</label>
        <input type="number" name="season" class="form-control" id="query-season" placeholder="1950">
      </div>
      <div class="form-group">
        <label for="query-round">Round</label>
        <input type="number" name="round" class="form-control" id="query-round" placeholder="1">
      </div>
      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Create Query</button>
      </div>
    </form>
  </div>
</div>